#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  background-color: rgb(68,136,136);
  padding: 0 10px;
  font-weight: bold;
}
.editor {
  width: 40%;
}
#editor {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 10px;
}
textarea {
  width: 100%;
  background-color: rgb(192,216,216);
  overflow: auto;
  height: 300px;
}
#preview {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  background-color: rgb(192,216,216);
}
#preview-text {
  width: 100%;
  padding: 10px;
}